/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:  1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
@media (max-width: 767px){
	.mt-2{
		margin-top: 2%!important;
	}
	.slick-dots {
		bottom: -25px;
		padding-left: 0;
	}
	.testimonial-text > h2 {
		font-size: 20px;
	}
	.mobile-menu-area {
		background: #03804d none repeat scroll 0 0;
	}
}

@media (min-width:768px){
	.slider-area .slick-dots {
		bottom: 18px;
		padding-left: 0;
	}
}
.header-bottom.stick-h2.stick .logo {
    padding-top: 0px!important;
}