.logo {
    padding-top: 0px;
}
.slider-all::before{
    opacity: 0;
}
.testimonial-peragraph  p{
    font-size: 16px;
}
.padd-0{
    padding-top: 0!important;
}
.offer-text p{
    margin-bottom: 10px!important;
}
.offer-text a {
    color: #ffffff;
    background-color: #03804d;
    padding: 10px 20px;
    line-height: 35px;
}
.service-left {
    margin-bottom: 70px;
}
.footer-logo p{
    color: #ffffff;
    margin-top: 10px;
}
.footer-bottom-text a{
    color: #03804d;
}
.header-top-info a i {
    color: #03804d;
}
.tiss-clr{
    background-color: #03804d!important;
}
.event-date {
    background-color: #03804d!important;
}
#toTop i{
    background-color: #03804d!important;
}